nb-list {
  overflow-x: hidden;
}

nb-list-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 -0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #f0f0f0; /* Color claro para el hover */
  }
  
  &.selected {
    background-color: #2196f3; /* Color primario */
    color: #ffffff; /* Texto blanco para mejor visibilidad */
  }
}

.visited-date,
.visited-pages-count,
.visited-percentages {
  flex: 1 0 auto;
  margin: 0 0.25rem;
}

.value {
  margin-top: 0.25rem;
  color: #4caf50; /* Color de éxito */
}

.delta {
  display: flex;
  align-items: center;
  position: relative;

  &.down {
    color: #f44336; /* Color de peligro */
  }

  &.up {
    color: #4caf50; /* Color de éxito */
  }

  nb-icon ::ng-deep svg {
    vertical-align: top;
  }
}
