.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  width: 250px;
}

.form-control {
  text-transform: uppercase;

  &::first-letter {
    text-transform: uppercase;
  }
}
.hover-primary {
  transition: 1s;
  &:hover {
    color: rgb(0, 158, 247) !important;
    transition: 1s;
  }
}

.contenedor-btn-group {
  border: 1px solid var(--bs-border-color) !important;
}

.ki-duotone,
.ki-outline,
.ki-solid,
.fa-regular {
  font-size: 1.8rem;
  width: 20.484px;
  height: 23.406px;
}

td {
  vertical-align: middle;
}

th{
  background-color: var(--bs-gray-100);;
}
