<nb-card>
  <nb-card-header>Filtros</nb-card-header>
  <nb-card-body>
    <app-base-filtro></app-base-filtro>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span>Vehículo</span>
    <a nbButton status="primary" size="small" [routerLink]="['../nuevo']">Nuevo</a>
  </nb-card-header>
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <th *ngFor="let encabezado of encabezados">
            {{ encabezado.nombre }}
          </th>
        </tr>
        <tr></tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of arrVehiculos">
          <td>{{ vehiculo.id }}</td>
          <td>{{ vehiculo.placa }}</td>
          <td>{{ vehiculo.capacidad }}</td>
          <td>
            <a
              class="menu-link px-3"
              style="cursor: pointer;"
              (click)="editarVehiculo(vehiculo.id)"
            >
              <nb-icon icon="edit-outline"></nb-icon>
            </a>
          </td>
          <td>
            <a
              class="menu-link px-3"
              style="cursor: pointer;"
              (click)="detalleVehiculo(vehiculo.id)"
            >
              <nb-icon icon="eye-outline"></nb-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
