<form
  (ngSubmit)="enviar()"
  [formGroup]="formularioVehiculo"
  #form="ngForm"
  aria-labelledby="title"
>
  <div
    class="fv-row d-flex espacioBotonera"
    [ngClass]="{
      'justify-content-start': true
    }"
  >
    <button
      nbButton
      status="basic"
      size="small"
      status="control"
      [routerLink]="['/administracion/vehiculo/lista']"
      style="margin-right: 10px"
    >
      <nb-icon icon="arrow-back-outline"></nb-icon>
      Atrás
    </button>
    <button nbButton type="submit" size="small" status="primary" #btnGuardar>
      Guardar
    </button>
  </div>
  <nb-card>
    <nb-card-header>Nuevo vehículo</nb-card-header>
    <nb-card-body>
      <div class="row mb-10">
        <div class="col-md-6 col-sm-12">
          <label class="label required">Placa</label>
          <input
            nbInput
            fullWidth
            formControlName="placa"
            type="text"
            autocomplete="off"
          />
          <ng-container
            *ngIf="
              formularioVehiculo.get('placa').invalid &&
              formularioVehiculo.get('placa').touched
            "
          >
            <p
              class="caption status-danger"
              *ngIf="formularioVehiculo.get('placa').errors?.required"
            >
              El campo es requerido!
            </p>
            <p
              class="caption status-danger"
              *ngIf="formularioVehiculo.get('placa').errors?.maxlength"
            >
              La placa no puede tener más de 6 caracteres!
            </p>
          </ng-container>
        </div>

        <div class="col-md-6 col-sm-12">
          <label class="label required">Capacidad</label>
          <input
            nbInput
            fullWidth
            formControlName="capacidad"
            type="text"
            autocomplete="off"
          />
          <ng-container
            *ngIf="
              formularioVehiculo.get('capacidad').invalid &&
              formularioVehiculo.get('capacidad').touched
            "
          >
            <p
              class="caption status-danger"
              *ngIf="formularioVehiculo.get('capacidad').errors?.required"
            >
              El campo es requerido!
            </p>
            <p
              class="caption status-danger"
              *ngIf="formularioVehiculo.get('capacidad').errors?.pattern"
            >
              Solo se permiten números!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="row mb-10">
        <div class="col-md-12 col-sm-12 em-2">
          <nb-toggle status="basic" formControlName="estado_activo"
            >Activo</nb-toggle
          >
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>
