<nb-card>
  <nb-card-header>Filtros</nb-card-header>
  <nb-card-body>
    <app-base-filtro></app-base-filtro>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span>Despachos</span>
    <div class="d-flex">

    </div>
  </nb-card-header>
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <th *ngFor="let encabezado of encabezados">
            {{ encabezado.nombre }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let despacho of arrDespachos">
          <td>{{ despacho.id }}</td>
          <td>{{ despacho.vehiculo_id }}</td>
          <td>{{ despacho.peso }}</td>
          <td>{{ despacho.volumen }}</td>
          <td></td>
          <td>
            <a
              class="menu-link px-3"
              style="cursor: pointer"
              (click)="editarGuia(despacho.id)"
            >
              <nb-icon icon="edit-outline"></nb-icon>
            </a>
          </td>
          <td>
            <a
              class="menu-link px-3"
              style="cursor: pointer"
              (click)="detalleGuia(despacho.id)"
            >
              <nb-icon icon="eye-outline"></nb-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>