<nb-card>
  <nb-card-header>Importar visitas</nb-card-header>
  <nb-card-body>
    <div class="file-upload">
      <input #fileInput id="fileInput" type="file" (change)="onFileChange($event)" />
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
    <div>
      <button type="button" class="mr-2" nbButton size="small" (click)="fileInput.click()">
        Seleccionar archivo
      </button>
      <button nbButton status="primary" [disabled]="!selectedFile" size="small" (click)="uploadFile()">Importar</button>
    </div>
  </nb-card-body>
</nb-card>