<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span>Complementos</span>
  </nb-card-header>
  <nb-card-body>
    <div class="complementos-grid">
      <div *ngFor="let complemento of arrComplementos; let i = index" class="complemento-card">
        <nb-card>
          <nb-card-header>
            <nb-icon [icon]="complemento.instalado ? 'checkmark-circle-2-outline' : 'close-circle-outline'"
              status="{{ complemento.instalado ? 'success' : 'danger' }}"></nb-icon>
            <span class="ml-2">{{ complemento.nombre }}</span>
          </nb-card-header>

          <nb-card-footer class="d-flex justify-content-end">
            <button *ngIf="!complemento.instalado" nbButton size="small" status="success"
              (click)="instalar(complemento)">
              Instalar
            </button>
            <button *ngIf="complemento.instalado" nbButton size="small" status="primary"
              (click)="openWindow(i, complemento.nombre)">
              Configurar
              <nb-icon icon="settings"></nb-icon>
            </button>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #contentTemplate let-data>
  <div>
    <form [formGroup]="formularios[data.indexFormulario]">
      <pre>{{ formularios[data.indexFormulario].value | json }}</pre>
      <div formArrayName="datos_json">
        <div class="d-flex flex-column mb-3"
          *ngFor="let control of formularios[data.indexFormulario].get('datos_json').controls; let j = index"
          [formGroupName]="j">
          <label>{{ control.get('nombre').value }}:</label>
          <input formControlName="valor" nbInput type="text" fullWidth [status]="
          control.get('valor').dirty
            ? control.get('valor').invalid
              ? 'danger'
              : 'success'
            : 'basic'
        " [attr.aria-invalid]="
          control.get('valor').invalid &&
          control.get('valor').touched
            ? true
            : null
        " />
          <ng-container *ngIf="
          control.get('valor').invalid &&
          control.get('valor').touched
        ">
            <p class="caption status-danger" *ngIf="control.get('valor').errors?.required">
              El campo es requerido!
            </p>
          </ng-container>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-end">
      <button nbButton size="small" status="success" (click)="guardarInformacion(data.indexFormulario)">
        Guardar
      </button>
    </div>
  </div>
</ng-template>