<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span class="font-weight-bold">Contenedores</span>
    <button nbButton status="primary" [routerLink]="['../nuevo']">Nuevo</button>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive-sm">
      <table>
        <thead *ngIf="arrContenedores.length > 0">
          <tr>
            <th></th>
            <th class="min-w-120px"></th>
            <th class=" text-center">Plan</th>
            <th class="min-w-100px text-center">Usuarios</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="arrContenedores.length > 0; else sinContenedores">
            <tr *ngFor="let contenedor of arrContenedores; let i = index" appAnimationFadeinUp
              style="height: calc(82px - 0.6rem) !important">
              <td style="width: 120px">
                <ng-container *ngIf="contenedor.imagen">
                  <img [ngSrc]="contenedor.imagen" [alt]="'Error al cargar logo'" width="120" height="120"
                    style="min-width: 120px" class="img-thumbnail" />
                </ng-container>
              </td>
              <td>
                <div class="d-flex flex-column align-items-start">
                  <span class="text-dark font-weight-bold fs-6">
                    {{ contenedor.nombre }}
                  </span>
                  <span class="text-muted mb-3">{{ contenedor.subdominio }}{{
                    dominioApp
                    }}</span>
                  <div>
                    <span class="badge badge-info w-auto">{{ contenedor.rol }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center position-relative">
                  <nb-badge [text]="contenedor.plan_nombre" status="info">
                    {{ contenedor.plan_nombre }}
                  </nb-badge>
                </div>
              </td>
              <td>
                <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                  {{ contenedor.usuarios }} / {{ contenedor.usuarios_base }}
                </div>
              </td>
              <td>
                <!-- <div class="d-flex justify-content-center">
                  <button *ngIf="!arrConectando[index]; else botonCargando" nbButton href="#" status="primary"
                    (click)="seleccionarEmpresa(contenedor.contenedor_id, index)">Conectar</button>
                  <ng-template #botonCargando>
                    <button nbButton href="#" status="primary" disabled>
                      <span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
                      <span>Cargando...</span>
                    </button>
                  </ng-template>
                </div> -->
                <div class="d-flex justify-content-center">
                  <button *ngIf="arrConectando[i]; else botonCargando" nbButton href="#" status="primary" disabled>
                    <span>Conectando</span>
                  </button>
                  <ng-template #botonCargando>
                    <button nbButton href="#" status="primary"
                      (click)="seleccionarEmpresa(contenedor.contenedor_id, i)">Conectar</button>
                  </ng-template>
                </div>
              </td>
              <td>
                <div>
                  <div *ngIf="contenedor.rol === 'propietario'">
                    <button nbButton type="button" [nbContextMenu]="items" nbContextMenuTrigger="click"
                      (click)="onMenuItemClick(contenedor)">
                      <nb-icon icon="more-vertical-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          <ng-template #sinContenedores>
            <ng-container *ngIf="cargandoContederes; else mensaje">
              <tr>
                <td style="width: 120px">
                  <app-comun-skeleton-loading [height]="120" [width]="120" />
                </td>
                <td>
                  <app-comun-skeleton-loading [height]="20" [width]="200" />
                </td>
                <td class="w-150px">
                  <app-comun-skeleton-loading [height]="20" [width]="150" />
                </td>
                <td class="w-150px">
                  <app-comun-skeleton-loading [height]="20" [width]="150" />
                </td>
              </tr>
            </ng-container>
            <ng-template #mensaje>
              <tr>
                <td colspan="4">Sin contenedores</td>
              </tr>
            </ng-template>
          </ng-template>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
<ng-template #contentTemplate let-data>
  <app-eliminar [data]="data" (emitirCerrarModal)="cerrar()" (emitirEliminarContenedor)="recibirEliminarContenedor($event)"></app-eliminar>
</ng-template>