<nb-card>
  <nb-card-header>Importar visitas</nb-card-header>
  <nb-card-body>
    <div class="file-upload">
      <label class="file-upload-label" for="fileInput">Seleccionar Archivo</label>
      <input #fileInput id="fileInput" type="file" (change)="onFileChange($event)" />
      <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-dark btn-active-light-dark"
        (click)="fileInput.click()" style="width: 100%; height: 100%">
        Seleccionar archivo
      </button>
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
    <button nbButton status="primary" size="small" (click)="uploadFile()">Importar</button>
  </nb-card-body>
</nb-card>