<nb-card class="h-100">
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span>Franjas</span>
  </nb-card-header>

  <nb-card-body class="nb-card-body-full-height">
    <div class="row">
      <!-- Columna izquierda con Zonas -->
      <div class="col-xxxl-3 col-xxl-4 col-md-5">
        <!-- Flota Card -->
        <nb-card size="large" class="mb-0">
          <nb-card-header class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <button nbButton status="primary" size="small" class="spaced-button" (click)="abrirModal()">
                Importar
              </button>
              <button nbButton status="primary" size="small" class="spaced-button" (click)="toggleEstaCreando()">
                Nuevo
              </button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="d-flex flex-column h-100">
              <nb-card *ngFor="let franja of franjas$ | async" class="mb-2">
                <nb-card-body class="d-flex justify-content-between">
                  {{ franja.nombre }}
                  <div>
                    <button class="border-0 bg-transparent" (click)="seleccionarFranja(franja)">
                      <nb-icon icon="edit-2-outline"></nb-icon>
                    </button>
                    <button class="border-0 bg-transparent" (click)="abrirModalConfirmacionEliminar(franja)">
                      <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <!-- Columna derecha con Mapa -->
      <div class="col-xxxl-9 col-xxl-8 col-md-7 map-container">
        <nb-card class="full-height full-width">
          <nb-card-header>Mapa</nb-card-header>
          <nb-card-body class="full-height full-width">
            <google-map id="map" height="100%" width="100%" [center]="center" [zoom]="zoom"
              (mapClick)="clickMap($event)">
              <map-polygon *ngFor="let franja of franjas$ | async" [paths]="franja.coordenadas" />
              <map-polygon *ngIf="estaCreando" [paths]="nuevaVertice" [options]="polylineOptions"></map-polygon>
              <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                (mapClick)="openInfoWindow(marker)">
              </map-marker>
              <map-info-window>Info Window</map-info-window>
            </google-map>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #contentTemplate let-data>
  <div>
    <div class="d-flex align-items-center justify-content-between">
      <input class="d-none" type="file" #fileInput (change)="onFileSelected($event)" accept=".kml" />
      <button type="button" class="btn btn-outline btn-outline-dashed btn-outline-dark btn-active-light-dark"
        (click)="fileInput.click()">
        Seleccionar archivo
      </button>
      <button *ngIf="selectedFile" class="btn btn-success" (click)="subirArchivo()">Subir archivo</button>
    </div>
  </div>
</ng-template>

<ng-template #editarFranja let-data>
  <div>
    <form [formGroup]="formularioFranja">
      <div class="d-flex flex-column mb-3">
        <label>Nombre:</label>
        <input formControlName="nombre" nbInput type="text" fullWidth [status]="
        formularioFranja.get('nombre').dirty
          ? formularioFranja.get('nombre').invalid
            ? 'danger'
            : 'success'
          : 'basic'
      " [attr.aria-invalid]="
        formularioFranja.get('nombre').invalid &&
        formularioFranja.get('nombre').touched
          ? true
          : null
      ">
        <ng-container *ngIf="
        formularioFranja.get('nombre').invalid &&
        formularioFranja.get('nombre').touched
      ">
          <p class="caption status-danger" *ngIf="formularioFranja.get('nombre').errors?.required">
            El campo es requerido!
          </p>
        </ng-container>
      </div>
      <div class="d-flex flex-column mb-3">
        <label>Código:</label>
        <input formControlName="codigo" nbInput type="text" fullWidth [status]="
        formularioFranja.get('codigo').dirty
          ? formularioFranja.get('codigo').invalid
            ? 'danger'
            : 'success'
          : 'basic'
      " [attr.aria-invalid]="
        formularioFranja.get('codigo').invalid &&
        formularioFranja.get('codigo').touched
          ? true
          : null
      ">
        <ng-container *ngIf="
        formularioFranja.get('codigo').invalid &&
        formularioFranja.get('codigo').touched
      ">
          <p class="caption status-danger" *ngIf="formularioFranja.get('codigo').errors?.required">
            El campo es requerido!
          </p>
        </ng-container>
      </div>
    </form>
    <div class="d-flex justify-content-end">
      <button nbButton size="small" status="success" (click)="actualizarFranja()">
        Guardar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #eliminarFranjaTemplate let-data>
  <div>
    <div class="d-flex justify-content-end">
      <button nbButton size="small" status="basic" class="mr-2" (click)="cerrarModal()">
        Cancelar
      </button>
      <button nbButton size="small" status="danger" (click)="eliminarFranja(data.franja)">
        Eliminar
      </button>
    </div>
  </div>
</ng-template>