<nb-card>
  <nb-card-header>Filtros</nb-card-header>
  <nb-card-body>
    <app-base-filtro (emitirFiltros)="obtenerFiltros($event)"></app-base-filtro>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <span class="mr-2">Visita</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="d-flex flex-column flex-xl-row align-items-start justify-content-between">
      <div class="d-flex align-items-center mb-3 mb-xl-0">
        <nb-button-group size="small">
          <button status="primary" nbButton [nbContextMenu]="items">
            Importar<nb-icon icon="arrow-ios-downward-outline"></nb-icon>
          </button>
          <button nbButton status="primary" (click)="decodificar()">
            Decodificar
          </button>
          <button nbButton status="primary" (click)="ordenar()">
            Ordenar
          </button>
          <button nbButton status="primary" [routerLink]="['../nuevo']">
            Nuevo
          </button>
          <button nbButton [nbContextMenu]="acciones">Acciones<nb-icon
              icon="arrow-ios-downward-outline"></nb-icon></button>
        </nb-button-group>
      </div>
      <ngx-paginacion [cantidadRegistros]="cantidadRegistros"
        (emitirPaginacion)="recibirPaginacion($event)"></ngx-paginacion>
    </div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th class="bg-gray-100">
              <div class="form-check">
                <input class="form-check-input custom-checkbox" [checked]="isCheckedSeleccionarTodos" #checkboxSelectAll
                  type="checkbox" [value]="isCheckedSeleccionarTodos" id="seleccionarTodos"
                  (click)="toggleSelectAll($event)">
              </div>
            </th>
            <th></th>
            <th *ngFor="let encabezado of encabezados">
              {{ encabezado.nombre }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let guia of arrGuia">
            <td class="">
              <div class="form-check">
                <input #checked class="form-check-input custom-checkbox" type="checkbox" id="blankCheckbox"
                  [id]="guia.id" [value]="guia.id" [checked]="guia?.selected" (click)="
                  agregarRegistrosEliminar(guia.id)
                ">
              </div>
            </td>
            <td>
              <ng-container *ngIf="guia.decodificado_error; else noError">
                <span class="circle-red"></span>
              </ng-container>
              <ng-template #noError>
                <ng-container *ngIf="guia.decodificado; else notDecoded">
                  <span class="circle-green"></span>
                </ng-container>
                <ng-template #notDecoded>
                  <span class="circle-yellow"></span>
                </ng-template>
              </ng-template>
            </td>
            <td>{{ guia.id }}</td>
            <td>{{ guia.guia }}</td>
            <td>{{ guia.fecha | date:'yy/mm/dd' }}</td>
            <td>{{ guia.documento }}</td>
            <td>{{ guia.destinatario }}</td>
            <td>{{ guia.destinatario_direccion }}</td>
            <td>{{ guia.ciudad_id }}</td>
            <td>{{ guia.ciudad_nombre }}</td>
            <td>{{ guia.destinatario_telefono }}</td>
            <td>{{ guia.destinatario_correo }}</td>
            <td>{{ guia.peso }}</td>
            <td>{{ guia.volumen }}</td>
            <td>{{ guia.latitud }}</td>
            <td>{{ guia.longitud }}</td>
            <td>{{ guia.orden }}</td>
            <td>{{ guia.distancia_proxima }}</td>
            <td>{{ guia.franja_id }}</td>
            <td>{{ guia.franja_nombre }}</td>
            <td>{{ guia.franja_codigo }}</td>
            <td>
              <a class="menu-link px-3" style="cursor: pointer" (click)="editarGuia(guia.id)">
                <nb-icon icon="edit-outline"></nb-icon>
              </a>
            </td>
            <td>
              <a class="menu-link px-3" style="cursor: pointer" (click)="detalleGuia(guia.id)">
                <nb-icon icon="eye-outline"></nb-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
<!-- Se retira este mapa ya que pasa a rutear -->
<!-- <nb-card>
  <nb-card-header> Localización visitas </nb-card-header>
  <nb-card-body>
    <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
      <map-marker
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
        (mapClick)="openInfoWindow(marker)"
      >
      </map-marker>
      <map-info-window>Info Window</map-info-window>
    </google-map>
  </nb-card-body>
</nb-card> -->
<!-- <nb-card>
  <nb-card-header> Ruta Ordenada </nb-card-header>
  <nb-card-body>
    <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
      <map-marker
        *ngFor="let markerPosition of marcarPosicionesVisitasOrdenadas"
        (mapClick)="openInfoWindow(marker)"
      >
      </map-marker>
      <map-info-window>Info Window</map-info-window>
      <map-directions-renderer
        *ngIf="directionsResults"
        [directions]="directionsResults"
      ></map-directions-renderer>
    </google-map>
  </nb-card-body>
</nb-card> -->
<ng-template #contentTemplate let-data>
  <nb-card-body>
    <div class="file-upload">
      <input #fileInput id="fileInput" type="file" (change)="onFileChange($event)" />
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
    <div class="d-flex justify-content-between">
      <div><button type="button" status="primary" class="mr-2" nbButton size="small"
          (click)="descargarEjemploExcelImportar()">
          Ejemplo
        </button></div>
      <div>
        <button type="button" class="mr-2" nbButton size="small" (click)="fileInput.click()">
          Seleccionar archivo
        </button>
        <button [disabled]="!base64File" nbButton status="primary" size="small" (click)="uploadFile()">
          Importar
        </button>
      </div>
    </div>
    <!-- Agregamos una clase para limitar la altura y permitir el desplazamiento -->
    <div class="table-container mt-3">
      <table>
        <thead>
          <tr>
            <th>Fila</th>
            <th>Campo</th>
            <th>Error</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let error of erroresImportar">
            <td>{{ error.fila }}</td>
            <td>{{ error.campo }}</td>
            <td>{{ error.error }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button *ngIf="erroresImportar.length" type="button" status="primary" class="mr-2" nbButton size="small"
        (click)="descargarExcelErroresImportar()">
        Descargar errores
      </button>
    </div>
  </nb-card-body>
</ng-template>

<ng-template #contentTemplateComplemento let-data>
  <div>
    <form [formGroup]="formularioComplementos">
      <div class="d-flex flex-column mb-4">
        <label>Desde:</label>
        <input [appSoloNumeros] min="1" fullWidth class="w-100" nbInput type="number" formControlName="desde"
          [status]="formularioComplementos.get('desde').dirty ? (formularioComplementos.get('desde').invalid  ? 'danger' : 'success') : 'basic'">
        <ng-container
          *ngIf="formularioComplementos.get('desde').invalid && formularioComplementos.get('desde').touched">
          <span class="caption status-danger" *ngIf="formularioComplementos.get('desde').errors?.required">
            El campo es requerido!
          </span>
        </ng-container>
      </div>
      <div class="d-flex flex-column mb-4">
        <label>Hasta:</label>
        <input [appSoloNumeros] min="1" fullWidth class="w-100" nbInput type="number" formControlName="hasta"
          [status]="formularioComplementos.get('hasta').dirty || formularioComplementos.hasError('rangoInvalido') ? (formularioComplementos.get('hasta').invalid || formularioComplementos.hasError('rangoInvalido')  ? 'danger' : 'success') : 'basic'">
        <ng-container
          *ngIf="formularioComplementos.get('hasta').invalid && formularioComplementos.get('hasta').touched">
          <span class="caption status-danger" *ngIf="formularioComplementos.get('hasta').errors?.required">
            El campo es requerido!
          </span>
        </ng-container>
        <ng-container *ngIf="formularioComplementos.hasError('rangoInvalido')">
          <span class="caption status-danger" *ngIf="formularioComplementos.hasError('rangoInvalido')">
            El campo "Hasta" debe ser mayor o igual que "Desde".
          </span>
        </ng-container>
      </div>
      <div class="d-flex flex-column mb-4">
        <label>Registros:</label>
        <input appSoloNumeros min="1" fullWidth class="w-100" nbInput type="number" formControlName="numeroRegistros"
          [status]="formularioComplementos.get('numeroRegistros').dirty ? (formularioComplementos.get('numeroRegistros').invalid  ? 'danger' : 'success') : 'basic'">
        <ng-container
          *ngIf="formularioComplementos.get('numeroRegistros').invalid && formularioComplementos.get('numeroRegistros').touched">
          <span class="caption status-danger" *ngIf="formularioComplementos.get('numeroRegistros').errors?.required">
            El campo es requerido!
          </span>
        </ng-container>
      </div>
      <div class="form-check form-check-custom form-check-solid">
        <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault"
          formControlName="pendienteDespacho" />
        <label class="form-check-label text-gray-700" for="flexCheckDefault">
          Pendiente despacho
        </label>
      </div>
    </form>
    <div class="d-flex justify-content-end">
      <button nbButton [disabled]="estaImportandoComplementos" class="mr-2"
        (click)="cerrarModalComplemento()">Cancel</button>
      <button disabled *ngIf="estaImportandoComplementos" nbButton status="primary" size="small">
        Cargando...
      </button>
      <button *ngIf="!estaImportandoComplementos" [disabled]="!formularioComplementos.valid" nbButton status="primary"
        size="small" (click)="importarComplemento()">
        Importar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplateConfirmarEliminar let-data>
  <div>
    <div class="d-flex flex-column mb-4">
      <div class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
          <p class="font-weight-bold texto-danger"><nb-icon icon="alert-triangle-outline"></nb-icon><span> ¿Estas
              seguro?</span></p>
        </div>
        <div class="pr-3 pl-3">
          <span class="text'muted">Este proceso es irreversible. Todos los registros serán eliminados.</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button nbButton class="mr-2" (click)="cerrarModal()">Cancel</button>

      <button nbButton *ngIf="!eliminandoRegistros; else cargandoBoton" status="danger" size="small"
        (click)="eliminarTodosLosRegistros()">
        Eliminar
      </button>
      <ng-template #cargandoBoton>
        <button disabled nbButton status="danger" size="small">
          Eliminando...
        </button>
      </ng-template>
    </div>
  </div>
</ng-template>