/* Contenedor de la tabla para el desplazamiento horizontal */
:host ::ng-deep .table-container {
  width: 100%;
  overflow-x: auto;
}

/* Estilos generales para la tabla */
:host ::ng-deep table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: var(--nb-theme-font-size); /* Ajusta según sea necesario */
  font-family: var(--nb-theme-font-family);
  text-align: left;
}

/* Estilos para los encabezados de la tabla */
:host ::ng-deep thead th {
  background-color: var(--nb-theme-color-secondary-100);
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid var(--nb-border-color);
  font-size: var(--nb-theme-font-size-caption); /* Ajuste según las variables de Nebular */
  font-family: var(--nb-theme-font-family-caption); /* Ajuste según las variables de Nebular */
  white-space: nowrap; /* Asegura que el texto no se rompa en varias líneas */
}

/* Estilos para las celdas de la tabla */
:host ::ng-deep tbody td {
  padding: 12px;
  border-bottom: 1px solid var(--nb-border-color);
  font-size: var(--nb-theme-font-size-caption); /* Ajuste según las variables de Nebular */
  font-family: var(--nb-theme-font-family-caption); /* Ajuste según las variables de Nebular */
  white-space: nowrap; /* Asegura que el texto no se rompa en varias líneas */
}

/* Estilos para filas alternas */
:host ::ng-deep tbody tr:nth-child(even) {
  background-color: var(--nb-theme-color-secondary-200);
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  :host ::ng-deep table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  :host ::ng-deep thead, 
  :host ::ng-deep tbody, 
  :host ::ng-deep th, 
  :host ::ng-deep td, 
  :host ::ng-deep tr {
    display: table-cell;
  }
}

.circle-red {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.circle-green {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.circle-yellow {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 153, 0);
  border-radius: 50%;
  display: inline-block;
}

.file-upload {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px
}

.file-upload-label {
  display: inline-block;
  background-color: #5a67d8; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

#fileInput {
  display: none;
}

.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
