<nb-card>
  <nb-card-header>Filtros</nb-card-header>
  <nb-card-body>
    <app-base-filtro></app-base-filtro>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span>Visita</span>
    <div class="d-flex">
      <button status="primary" size="small" nbButton [nbContextMenu]="items" class="spaced-button" >
        Importar
      </button>
      <button nbButton status="primary" size="small" (click)="decodificar()" class="spaced-button">
        Decodificar
      </button>
      <button nbButton status="primary" size="small" (click)="ordenar()" class="spaced-button">
        Ordenar
      </button>
      <button nbButton status="primary" size="small" [routerLink]="['../nuevo']" class="spaced-button">
        Nuevo
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let encabezado of encabezados">
            {{ encabezado.nombre }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guia of arrGuia">
          <td>
            <ng-container *ngIf="guia.decodificado_error; else noError">
              <span class="circle-red"></span>
            </ng-container>
            <ng-template #noError>
              <ng-container *ngIf="guia.decodificado; else notDecoded">
                <span class="circle-green"></span>
              </ng-container>
              <ng-template #notDecoded>
                <span class="circle-yellow"></span>
              </ng-template>
            </ng-template>
          </td>
          <td>{{ guia.id }}</td>
          <td>{{ guia.guia }}</td>
          <td>{{ guia.fecha }}</td>
          <td>{{ guia.documento }}</td>
          <td>{{ guia.destinatario }}</td>
          <td>{{ guia.destinatario_direccion }}</td>
          <td>{{ guia.destinatario_telefono }}</td>
          <td>{{ guia.destinatario_correo }}</td>
          <td>{{ guia.peso }}</td>
          <td>{{ guia.volumen }}</td>
          <td>{{ guia.latitud }}</td>
          <td>{{ guia.longitud }}</td>
          <td>{{ guia.orden }}</td>
          <td>{{ guia.distancia_proxima }}</td>
          <td>
            <a class="menu-link px-3" style="cursor: pointer" (click)="editarGuia(guia.id)">
              <nb-icon icon="edit-outline"></nb-icon>
            </a>
          </td>
          <td>
            <a class="menu-link px-3" style="cursor: pointer" (click)="detalleGuia(guia.id)">
              <nb-icon icon="eye-outline"></nb-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
<!-- Se retira este mapa ya que pasa a rutear -->
<!-- <nb-card>
  <nb-card-header> Localización visitas </nb-card-header>
  <nb-card-body>
    <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
      <map-marker
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
        (mapClick)="openInfoWindow(marker)"
      >
      </map-marker>
      <map-info-window>Info Window</map-info-window>
    </google-map>
  </nb-card-body>
</nb-card> -->
<!-- <nb-card>
  <nb-card-header> Ruta Ordenada </nb-card-header>
  <nb-card-body>
    <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
      <map-marker
        *ngFor="let markerPosition of marcarPosicionesVisitasOrdenadas"
        (mapClick)="openInfoWindow(marker)"
      >
      </map-marker>
      <map-info-window>Info Window</map-info-window>
      <map-directions-renderer
        *ngIf="directionsResults"
        [directions]="directionsResults"
      ></map-directions-renderer>
    </google-map>
  </nb-card-body>
</nb-card> -->
<ng-template #contentTemplate let-data>
  <nb-card-body>
    <div class="file-upload">
      <label class="file-upload-label" for="fileInput">Seleccionar archivo</label>
      <input #fileInput id="fileInput" type="file" (change)="onFileChange($event)" />
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
    <button nbButton status="primary" size="small" (click)="uploadFile()">
      Importar
    </button>
  </nb-card-body>
</ng-template>

<ng-template #contentTemplateComplemento let-data>
  <div>
    <div class="d-flex flex-column mb-4">
      <label>Registros:</label>
      <input appSoloNumeros fullWidth class="w-100" nbInput type="number" [(ngModel)]="numeroDeRegistrosAImportar">
    </div>
    <div class="d-flex justify-content-end">
      <button disabled *ngIf="estaImportandoComplementos" nbButton status="primary" size="small">
        Cargando...
      </button>
      <button *ngIf="!estaImportandoComplementos" nbButton status="primary" size="small" (click)="importarComplemento()">
        Importar
      </button>
    </div>
  </div>
</ng-template>