<h1 id="title" class="title">Registro</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="enviar()" [formGroup]="formulario" #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Correo:</label>
    <input nbInput
           formControlName="email"
           id="input-email"
           name="email"
           pattern=".+@.+..+"
           placeholder="Correo"
           fullWidth
           fieldSize="large"
           [status]="formulario.get('email').dirty ? (formulario.get('email').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="formulario.get('email').invalid && formulario.get('email').touched ? true : null">
    <ng-container *ngIf="formulario.get('email').invalid && formulario.get('email').touched">
      <p class="caption status-danger" *ngIf="formulario.get('email').errors?.required">
        El correo es requerido
      </p>
      <p class="caption status-danger" *ngIf="formulario.get('email').errors?.pattern">
        El correo debe ser válido
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-celular">Celular:</label>
    <input nbInput
           formControlName="celular"
           id="input-celular"
           name="celular"
           placeholder="Celular"
           fullWidth
           fieldSize="large"
           [status]="formulario.get('celular').dirty ? (formulario.get('celular').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="formulario.get('celular').invalid && formulario.get('celular').touched ? true : null">
    <ng-container *ngIf="formulario.get('celular').invalid && formulario.get('celular').touched">
      <p class="caption status-danger" *ngIf="formulario.get('celular').errors?.required">
        El celular es requerido!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Contraseña:</label>
    <input nbInput
           formControlName="password"
           id="input-contrasena"
           name="contrasena"
           placeholder="Contraseña"
           fullWidth
           fieldSize="large"
           type="password"
           [status]="formulario.get('password').dirty ? (formulario.get('password').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="formulario.get('password').invalid && formulario.get('password').touched ? true : null">
    <ng-container *ngIf="formulario.get('password').invalid && formulario.get('password').touched">
      <p class="caption status-danger" *ngIf="formulario.get('password').errors?.required">
        La contraseña es requerida!
      </p>
    </ng-container>
    <ng-container *ngIf="formulario.get('password').invalid && formulario.get('password').touched">
      <p class="caption status-danger" *ngIf="formulario.get('password').errors?.minlength || formulario.get('password').errors?.maxlength">
        La contraseña debe contener entre 8 y 20 caracteres
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-confirmarContrasena">Confirmar contraseña:</label>
    <input nbInput
           formControlName="confirmarContrasena"
           id="input-confirmarContrasena"
           name="confirmarContrasena"
           placeholder="Confirmar contraseña"
           fullWidth
           fieldSize="large"
           type="password"
           [status]="formulario.get('confirmarContrasena').dirty ? (formulario.get('confirmarContrasena').invalid  ? 'danger' : 'success') : 'basic'"
           [attr.aria-invalid]="formulario.get('confirmarContrasena').invalid && formulario.get('confirmarContrasena').touched ? true : null">
    <ng-container *ngIf="formulario.get('confirmarContrasena').invalid && formulario.get('confirmarContrasena').touched">
      <p class="caption status-danger" *ngIf="formulario.get('confirmarContrasena').errors?.required">
        La confirmación de contraseña es requerida!
      </p>
      <p class="caption status-danger" *ngIf="formulario.get('confirmarContrasena').errors?.clavesDiferentes">
        Las contraseñas no coinciden!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox formControlName="terminoCondicion">
      Acepto los <a href="#" target="_blank"><strong>términos y condiciones.</strong></a>
    </nb-checkbox>
  </div>

<button nbButton
        fullWidth
        status="primary"
        size="large"
        [disabled]="submitted || !formulario.valid"
        [class.btn-pulse]="submitted">
  Crear cuenta
</button>
</form>
<section class="another-action" aria-label="Sign in">
  ¿Ya tienes una cuenta? <a class="text-link" routerLink="../login">Iniciar sesión</a>
</section>
