<form (ngSubmit)="enviar()" [formGroup]="formularioContenedor" #form="ngForm" aria-labelledby="title">
  <div class="row mb-10">
    <div class="col-md-12 col-sm-12">
      <label class="label required">Nombre</label>
      <input nbInput fullWidth formControlName="nombre" type="text" autocomplete="off" [status]="
        formularioContenedor.get('nombre').dirty
          ? formularioContenedor.get('nombre').invalid
            ? 'danger'
            : 'success'
          : 'basic'
      " [attr.aria-invalid]="
        formularioContenedor.get('nombre').invalid &&
        formularioContenedor.get('nombre').touched
          ? true
          : null
      " (keyup)="modificarCampoFormulario('subdominio', $event)" />
      <small id="emailHelp" class="form-text text-muted" *ngIf="nombreEmpresa !== ''">{{
        nombreEmpresa.toLocaleLowerCase() }}{{ dominioApp }}
        <a class="btn btn-icon btn-link btn-sm btn-color-gray-500 btn-active-color-primary" (click)="editarSubdominio()"
          data-bs-toggle="tooltip" data-bs-placement="right" title="Editar"><nb-icon icon="edit-outline"></nb-icon></a>
      </small>
      <ng-container *ngIf="
        formularioContenedor.get('nombre').invalid &&
        formularioContenedor.get('nombre').touched
      ">
        <p class="caption status-danger" *ngIf="formularioContenedor.get('nombre').errors?.required">
          El campo es requerido!
        </p>
      </ng-container>
    </div>
  </div>
  <div class="row mb-10" *ngIf="visualizarCampoSubdominio">
    <div class="col-md-12 col-sm-12">
      <label class="label required">Subdominio</label>
      <input nbInput fullWidth formControlName="subdominio" type="text" autocomplete="off"
        (keyup)="cambiarTextoAMinusculas()" [status]="
          formularioContenedor.get('subdominio').dirty
            ? formularioContenedor.get('subdominio').invalid
              ? 'danger'
              : 'success'
            : 'basic'
        " [attr.aria-invalid]="
          formularioContenedor.get('subdominio').invalid &&
          formularioContenedor.get('subdominio').touched
            ? true
            : null
        " />
      <ng-container *ngIf="
          formularioContenedor.get('subdominio').invalid &&
          formularioContenedor.get('subdominio').touched
        ">
        <p class="caption status-danger" *ngIf="formularioContenedor.get('subdominio').errors?.required">
          El campo es requerido!
        </p>
      </ng-container>
      <ng-container *ngIf="
          formularioContenedor.get('subdominio').invalid &&
          formularioContenedor.get('subdominio').touched
        ">
        <p class="caption status-danger" *ngIf="
            formularioContenedor.get('subdominio').errors?.minlength ||
            formularioContenedor.get('subdominio').errors?.maxlength
          ">
          El subdominio debe contener entre 3 y 100 caracteres
        </p>
      </ng-container>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 col-sm-12">
      <label class="label required">Correo</label>
      <input nbInput fullWidth formControlName="correo" type="text" autocomplete="off" [status]="
          formularioContenedor.get('correo').dirty
            ? formularioContenedor.get('correo').invalid
              ? 'danger'
              : 'success'
            : 'basic'
        " [attr.aria-invalid]="
          formularioContenedor.get('correo').invalid &&
          formularioContenedor.get('correo').touched
            ? true
            : null
        " />
      <ng-container *ngIf="
          formularioContenedor.get('correo').invalid &&
          formularioContenedor.get('correo').touched
        ">
        <p class="caption status-danger" *ngIf="formularioContenedor.get('correo').errors?.required">
          El campo es requerido!
        </p>
      </ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <label class="label required">Teléfono</label>
      <input nbInput fullWidth formControlName="telefono" type="text" autocomplete="off" [status]="
          formularioContenedor.get('telefono').dirty
            ? formularioContenedor.get('telefono').invalid
              ? 'danger'
              : 'success'
            : 'basic'
        " [attr.aria-invalid]="
          formularioContenedor.get('telefono').invalid &&
          formularioContenedor.get('telefono').touched
            ? true
            : null
        " />
      <ng-container *ngIf="
        formularioContenedor.get('telefono').invalid &&
        formularioContenedor.get('telefono').touched
      ">
        <p class="caption status-danger" *ngIf="formularioContenedor.get('telefono').errors?.required">
          El campo es requerido!
        </p>
      </ng-container>
    </div>
  </div>
  <br>
  <div class="fv-row d-flex" [ngClass]="{
      'justify-content-between': visualizarBtnAtras === true,
      'justify-content-end': visualizarBtnAtras === false
    }">
    <a nbButton status="basic" [routerLink]="['../lista']">Atrás </a>
    <button nbButton type="submit" status="primary" #btnGuardar>Guardar</button>
  </div>
</form>
<ng-template #formError let-control="control" let-message="message" let-validation="validation"
  let-cantidadCaracteres="cantidadCaracteres">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert"> {{ message }} {{ cantidadCaracteres }} </span>
      </div>
    </div>
  </ng-container>
</ng-template>