<div class="row">
  <div class="col-12 col-md-4 mb-2">
    <select
      class="form-control form-control-sm"
      (change)="propiedadSeleccionada($event)"
    >
      <option value="">
        {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
      </option>
      <ng-container *ngFor="let propiedad of camposVisibles">
        <option
          [value]="propiedad.campoTipo"
          [selected]="
            propiedad.esFk
              ? propiedad.modeloFk.toLocaleLowerCase() + '_id' ===
                filtroCampoNombre
              : propiedad.nombre === filtroCampoNombre.toLocaleUpperCase()
          "
          [attr.data-value]="
            propiedad.esFk
              ? propiedad.modeloFk.toLocaleLowerCase() + '_id'
              : propiedad.nombre.toLocaleLowerCase()
          "
          [attr.data-busqueda-avanzada]="propiedad.esFk ? true : false"
          [attr.data-modelo-busqueda-avanzada]="
            propiedad.modeloFk ? propiedad.modeloFk : ''
          "
        >
          {{
            propiedad.esFk
              ? ("LISTAS." +
                  (tipo | uppercase) +
                  "." +
                  (propiedad.modeloFk | uppercase) | translate)
              : ("LISTAS." +
                  (tipo | uppercase) +
                  "." +
                  (propiedad.nombre | uppercase) | translate)
          }}
        </option>
      </ng-container>
    </select>
  </div>
  <div class="col-12 col-md-4 mb-2">
    <select
      #inputCritero
      class="form-control form-control-sm"
      (change)="onCriterioSeleccionado($event)"
    >
      <option value="">
        {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
      </option>
      <option
        *ngFor="let criterioBusqueda of criteriosBusqueda"
        [value]="criterioBusqueda.valor"
        [selected]="criterioBusqueda.valor === filtroCampoCriterio"
      >
        {{
          "FORMULARIOS.CAMPOS.FILTROS.OPERADORES." +
            (criterioBusqueda.texto | uppercase) | translate
        }}
      </option>
    </select>
  </div>
  <div class="col-12 col-md-4 mb-2">
    <div class="input-group input-group-sm">
      <input
        #inputValor1
        class="form-control form-control-sm"
        [placeholder]="busquedaAvanzada !== '' ? 'Código' : 'Buscar...'"
        [value]="filtroCampoValor1"
        [ngClass]="{
          'animate__animated animate__fadeOut': filtroTipo  === 'Booleano',
        }"
        [type]="
          filtroTipo === 'IntegerField'
            ? 'number'
            : filtroTipo === 'DateField'
            ? 'date'
            : 'text'
        "
        (change)="actualizarCampoValor1($event)"
      />
      <div class="input-group-append" *ngIf="busquedaAvanzada !== ''">
        <button
          style="border-top-left-radius: 0; border-bottom-left-radius: 0"
          class="btn btn-primary btn-sm rounded-left-0"
          (click)="abirModal(content)"
          type="button"
        >
          Busqueda
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Buscar {{ modeloBusquedaAvanzada | lowercase }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioFiltrosModal">
      <div formArrayName="filtros">
        <ng-container
          *ngFor="let filtro of filtros.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="row">
            <div class="col-12 col-md-4 mb-2">
              <select
                class="form-control form-control-sm"
                (change)="propiedadSeleccionadaModal($event, i)"
              >
                <option value="">
                  {{ "FORMULARIOS.CAMPOS.COMUNES.SELECCIONAR" | translate }}
                </option>
                <ng-container
                  *ngFor="let propiedad of propiedadBusquedaAvanzada"
                >
                  <option
                    [value]="propiedad.campoTipo"
                    [selected]="
                      propiedad.nombre === filtroCampoNombre.toLocaleUpperCase()
                    "
                    [attr.data-value]="
                      propiedad.esFk
                        ? propiedad.modeloFk.toLocaleLowerCase() + '_id'
                        : propiedad.nombre.toLocaleLowerCase()
                    "
                    [attr.data-busqueda-avanzada]="
                      propiedad.esFk ? true : false
                    "
                    [attr.data-modelo-busqueda-avanzada]="
                      propiedad.modeloFk ? propiedad.modeloFk : ''
                    "
                  >
                    {{
                      propiedad.esFk
                        ? ("LISTAS." +
                            (modeloBusquedaAvanzada | uppercase) +
                            "." +
                            (propiedad.modeloFk | uppercase) | translate)
                        : ("LISTAS." +
                            (modeloBusquedaAvanzada | uppercase) +
                            "." +
                            (propiedad.nombre | uppercase) | translate)
                    }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="col-12 col-md-4 mb-2">
              <select
                formControlName="operador"
                class="form-control form-control-sm"
                (change)="criterioSeleccionadoModal($event, i)"
              >
                <option value="" selected hidden>Seleccionar</option>
                <ng-container *ngIf="criteriosBusquedaModal[i]">
                  <option
                    *ngFor="let criterioBusqueda of criteriosBusquedaModal[i]"
                    [value]="criterioBusqueda.valor"
                    [selected]="criterioBusqueda.defecto === true"
                  >
                    {{
                      "FORMULARIOS.CAMPOS.FILTROS.OPERADORES." +
                        (criterioBusqueda.texto | uppercase) | translate
                    }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="col-12 col-md-3 mb-2">
              <div class="input-group input-group-sm">
                <input
                  [id]="'inputValor1Modal' + i"
                  formControlName="valor1"
                  class="form-control form-control-sm"
                  [placeholder]="
                    busquedaAvanzada !== '' ? 'Código' : 'Buscar...'
                  "
                  [ngClass]="{
                'animate__animated animate__fadeOut': filtroTipoModal[i]  === 'Booleano',
              }"
                  [type]="
                    filtroTipoModal[i] === 'IntegerField'
                      ? 'number'
                      : filtroTipoModal[i] === 'DateField'
                      ? 'date'
                      : 'text'
                  "
                />
              </div>
            </div>
            <div class="col-12 col-md-1">
              <div class="d-flex justify-content-end">
                <i
                  (click)="agregarNuevoFiltro()"
                  class="bi bi-plus-lg fs-2x align-self-center cursor-pointer user-select-none text-hover-primary"
                ></i>
                <i
                  (click)="eliminarFiltro(i)"
                  *ngIf="filtros.length > 1"
                  class="bi bi-trash fs-2x align-self-center cursor-pointer user-select-none text-hover-danger"
                ></i>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
    <div class="d-flex justify-content-end gap-2">
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        (click)="limpiarFormulario()"
        *ngIf="filtros.length >= 1"
        translate="FORMULARIOS.TITULOS.COMUNES.LIMPIAR"
      ></button>
      <button
        translate="FORMULARIOS.TITULOS.COMUNES.FILTRAR"
        type="submit"
        class="btn btn-primary btn-sm"
        (click)="aplicarFiltro()"
      ></button>
    </div>
    <div class="table-responsive table-loading mt-5">
      <table
        class="table table-hover table-bordered table-rounded border gy-2 gs-2"
      >
        <thead>
          <tr *ngIf="arrRegistros && arrRegistros.length > 0">
            <th class="bg-gray-100" *ngFor="let key of arrRegistros[0] | keys">
              {{
                "LISTAS." +
                  (modeloBusquedaAvanzada | uppercase) +
                  "." +
                  (key | uppercase) | translate
              }}
            </th>
            <td class="bg-gray-100"></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrRegistros">
            <ng-container *ngFor="let key of item | keys; let last = last">
              <td>
                {{ item[key] }}
              </td>
              <ng-container *ngIf="last">
                <td class="text-center">
                  <a
                    (click)="seleccionar(item)"
                    class="btn btn-primary btn-sm p-0"
                  >
                    <i class="ki-solid ki-check fs-1"></i>
                  </a>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
