<div
class="fv-row d-flex"
[ngClass]="{
  'justify-content-start': true
}"
>
<button
  nbButton
  status="basic"
  size="small"
  status="control"
  [routerLink]="['/administracion/franja/lista']"
  style="margin-right: 10px"
>
  <nb-icon icon="arrow-back-outline"></nb-icon>
  Atrás
</button>
</div>
<nb-card>
  <nb-card-header>Detalle franja</nb-card-header>
  <nb-card-body>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td class="fw-bold text-gray-800 fs-6 bg-gray-100">Código</td>
          <td >{{ franja.codigo }}</td>
          <td class="fw-bold text-gray-800 fs-6 bg-gray-100">Franja</td>
          <td >{{ franja.nombre }}</td>
        </tr>
      </tbody>
    </table>
    <nb-card-body class="nb-card-body-full-height">
      <div class="row">
        <!-- Columna derecha con Mapa -->
        <div class="col-xxxl-12 col-xxl-12 col-md-12 map-container">
          <nb-card class="full-height full-width">
            <nb-card-header>Mapa</nb-card-header>
            <nb-card-body class="full-height full-width">
              <google-map
                height="100%"
                width="100%"
                [center]="center"
                [zoom]="zoom"
              >
                <map-polygon [paths]="franja.coordenadas" />

              </google-map>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </nb-card-body>
  </nb-card-body>
</nb-card>
