
.h-100px{
  height: 100px;
}

.input-wrapper {
  position: relative;
  display: flex;

  input {
    padding-right: 75px !important; /* Ajusta el espaciado derecho para el ícono */
    box-sizing: border-box;
  }

  i {
    font-size: 1.4rem;
    position: absolute;
    right: 12px; /* Ajusta la posición horizontal del ícono */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }

  input[type='password'].form-control.is-invalid {
    background-position: right calc(0.375em + 2.5rem) center;
  }

  input[type='password'].form-control.is-valid {
    background-position: right calc(0.375em + 2.5rem) center;
  }

  input[type='text'].form-control.is-invalid {
    background-position: right calc(0.375em + 2.5rem) center;
  }

  input[type='text'].form-control.is-valid {
    background-position: right calc(0.375em + 2.5rem) center;
  }
}

table{
  thead {
    font-weight: bold;
  }
}

.position-relative input[type='text'].form-control.is-invalid {
  background-position: right calc(0.375em + 2.5rem) center;
}

.position-relative input[type='text'].form-control.is-valid {
  background-position: right calc(0.375em + 2.5rem) center;
}

.bg-gray-100 {
  background-color: var(--bs-gray-100) !important;
}